{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            {% if site.section1_title != '' %}
            <h2 id="section1" class="section-title text-center">{{ site.section1_title }}</h2>
            {% endif %}
            {% if site.section1_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.section1_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            {% for post in site.posts %}
              {% if post.section == 1 %}
                <div class="wow fadeIn">
                {% if post.position == "left" %}
                  {% include content-left.html %}
                {% endif %}
  
                {% if post.position == "right" %}
                  {% include content-right.html %}
                {% endif %}
                </div>
              {% endif %}
            {% endfor %}

            {% include pagination.html %}



            <div class="break"></div>

            {% if site.section2_title != '' %}
            <h2 id="section2" class="section-title text-center">{{ site.section2_title }}</h2>
            {% endif %}
            {% if site.section2_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.section2_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            {% for post in site.posts %}
              {% if post.section == 2 %}
                <div class="wow fadeIn">
                {% if post.position == "left" %}
                  {% include content-left.html %}
                {% endif %}
  
                {% if post.position == "right" %}
                  {% include content-right.html %}
                {% endif %}
                </div>
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
    </main>

{% include footer.html %}
